/*

Nav bar edits

*/
.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #4F5BC2;
}
.nav-link.active {
    font-weight: bold;
}
.nav-link:hover {
    color: #FF8796;
}

.dropdown-item {
    color: #4F5BC2;
    background-color: rgba(255, 135, 150, 0.1);
}
.dropdown-item:hover {
    color: #FF8796;
}
ul {
    list-style-type: none;
}
h2 {
    font-weight: bold;
}

/*

Carousel edits

*/
.carousel img {
    width: 100%;
    height: 550px;
}
.carousel-caption {
    width: 400px;
    text-align: left;
    margin-bottom: 10rem;
    font-weight: bolder;
}
.carousel-caption h5 {
    color: #fff;
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #000;
    -webkit-text-stroke: 2px black;
}

/*

Containers edits

*/
.container {
    margin: 80px auto 50px;
    padding: 10px 10%;
}
.sec-2-img img {
    width: auto;
    max-height: 300px;
}
.section-2 h2 {
    font-weight: bold;
    text-transform: uppercase;
}
.section-2 i {
    color: #01B7CF;
    font-size: 3rem;
    margin: 15px auto 35px;
}
.section-2 p {
    text-align: justify;
}
.section-3 {
    width: auto;
    height: 300px;
    padding: 6% 0;
    background-image: url("../images/section-3.jpg");
    background-size: cover;
    background-position: center;
}
.section-3 h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}
.section-3 .btn {
    background-color: #4F5BC2;
    font-weight: bold;
    padding: 1% 2%;
}
.section-3 .btn:hover {
    background-color: #FF8796;
}

/*

about us page edits

*/
.about-us {
    margin: 80px auto;
}
.about-us img {
    height: 250px;
}
.about-us p {
    text-align: justify;
}

/*

Footer edits

*/
.footer-container, .footer-bottom {
    color: #fff;
    background-color: #302A28;
}
.f-nav .nav-item, .f-nav .nav-link {
    color: #01B7CF;
    text-decoration: none;
}
.f-nav .nav-item:hover, .f-nav .nav-link:hover {
    color: #FF8796;
    text-decoration: underline;
}
.top-footer {
    padding: 80px 0;
}
.footer-bottom {
    padding: 25px 0;
    text-align: center;
}
.footer-bottom p {
    color: #c3c3c3;
    font-size: .9rem;
    margin: 0;
}